.App input{
    margin-top :20px;
    width:300px;
    height:40px;
    font-size:20px;
    padding-left:10px;
}
.image-grid{
    display:flex;
 
    margin:20px auto;
    justify-content:space-evenly;
   
    flex-wrap: wrap;
}
