
.gallery{
    display:grid;
    grid-template-columns: repeat(1, 150px);
    grid-template-rows: repeat(1,150px); 

}
.search-bar{
    margin: 10px auto;
    width: 75%;
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(650px, 1fr));
    grid-gap: 30px;
    cursor: pointer;
}
.search-input{
    border: none;
    outline: none;
    height: 30px;
    width: 1000px;
    font-family: 'Roboto', sans-serif
}
.searchbox{
    width: 100%;
    align-items: center;

    height: 50px;
    display: flex;
    justify-content: space-between;
    border: 2px solid rgba(0, 0, 0, 0.1);
}
.fas{
    color: rgba(0, 0, 0, 0.4) ;
}
.content{
    width: 100%;
    position: absolute;
    top: 63%;
    transform: translateX(-26%);
    text-align: center;
    color: #fff;
}



.hero-container{
    width: 100%;
    height: 100vh;
    
}
.cards{
  
    margin: 50px auto;
    width: 75%;
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 10px;
    cursor: pointer;
}
.card{
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding:10px;
}
img{
    width: 100%;
}
.last-section{
    width: 100%;
}
.img-section{
    margin: 130px auto;
    width: 75%;
    align-items: center;
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    grid-gap: 0px;
}
.img-section img{
    position: relative;
}

